# Dependency directories
/node_modules/

# Build outputs
/build/
/dist/

# Bundled JS and CSS
*.bundle.js
*.bundle.css

# Environment configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.*  # This line already covers all .env files, the specific listings above are redundant if you have this wildcard.

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# parcel-bundler cache (not needed if not using Parcel)
# .cache/
# .parcel-cache/

# Next.js, Nuxt.js, Gatsby, and VuePress build output (remove if not using these frameworks)
# .next/
# out/
# .nuxt/
# .cache/  # Gatsby's cache
# public/  # Uncomment if using Gatsby

# vuepress build output
# .vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Temporary folders
tmp/
temp/