.container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
}

.leftSide {
  background-color: rgb(43, 104, 226); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 50px; /* Adjust as needed for text alignment */
}

.dynamicText {
  font-size: 2rem; /* Adjust size as needed */
  color: rgb(237, 188, 95); /* Adjust color as needed */
  font-weight: bold; /* Adjust weight as needed */
  animation: fadeIn 2s infinite; /* Smooth transition for text changes */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.rightSide {
  background-color: #f7f7f7; /* Adjust color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInButton {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  background-color: #4285F4; /* Google button blue */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.signInButton:hover {
  background-color: #357ae8; /* Darker blue on hover */
}
